// Typography
$font-family-sans-serif: "open-sans", sans-serif;

// Colors
$grey-darkest: #333;
$grey-darker: #444;
$grey-dark: #555;
$grey: #999;
$grey-lightest: #ddd;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green-dark: #408040;
$green: #38c172;
$green-light: #b3ffb3;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// context
$body-bg: #f8fafc;
$text-fg: $grey-dark;

$dark-box-bg: $grey-darkest;
$dark-box-fg: $grey-lightest;

$form-input-border: $grey;
$form-input-focus: $teal;
$form-input-error: $red;
