// use border-box as default sizing method to simplify dimension calculations
*, *:before, *:after {
    box-sizing: border-box;
}

@import 'fonts';
@import 'variables';
@import 'nav';

body {
    font-family: $font-family-sans-serif;

    background-color: $body-bg;
    color: $text-fg;

    // child elements shall stretch to the full height
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;

    min-height: 100vh;
    min-width: 320px;
    margin: 0;
}

#app {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

// use this class to hide text, but keep it for screen-readers
.hidden {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}




